# Introducción a Python 
---
Este cuaderno de ejercicios complementa los temas vistoe en el notebook "1.1 - Introduccion a Python". Recuerda que además de contar con este notebook en `Jupyter` puedes consultar los métodos disponibles en cada objeto escribiendo un punto despues del nombre del objeto y presionando la tecla `Tab` de tu teclado. Tambien puedes ver la documentación de cada método presionando `Shift + Tab`.

## Variables y operadores

### Numéricos

Realiza las siguientes operaciones:

In [2]:
a = 7
b = 3

Suma ***a*** más ***b***

In [3]:
a+b

10

Multiplica ***a*** por ***b***

In [4]:
a*b

21

Obten el residuo de la división entre ***a*** y ***b***

In [5]:
a % b

1

Calcula la hipotenusa del triangulo (***c***) usando la siguiente formula:

$c=\sqrt{a^2 + b^2}$

In [6]:
from math import sqrt

In [7]:
c = sqrt(a**2 + b**2) #this is the same as: (a**2 + b**2)**(1/2)
print(c)

7.615773105863909

### Cadenas

Explora los métodos disponibles en las cadenas y realiza los siguientes ejercicios. Recuerda que en Jupyter puedes usar `shift + tab` para ver los metodos disponibles de un objeto.

In [8]:
nombre = 'ivan'
apellido = 'ivanovski'

Usando las variables ***nombre*** y ***apellido***, crea una nueva variable llamada ***nombre_completo***, esta debe de contener la cadena `'Ivan Ivanovski'`

In [9]:
nombre.capitalize() + ' ' + apellido.capitalize()

'Ivan Ivanovski'

Usando una cadena como plantilla y las variables ***nombre*** y ***apellido*** genera la siguiente salida:
```
Hola Ivan, tu usuario del sistema es 'ivan_ivanovski'. El password será enviado al correo 'ivan.ivanovski@email.com'
```

In [10]:
print("Hola " + nombre.capitalize() + ", tu usuario del sistema es '" + nombre + "_" + apellido + "'. El password será enviado al correo '" + nombre + "." + apellido + "@email.com'" )

Hola Ivan, tu usuario del sistema es 'ivan_ivanovski'. El password será enviado al correo 'ivan.ivanovski@email.com'

### Diccionarios

In [11]:
usuario = {
    'login': 'local_admin',
    'nombre': 'Mario',
    'apellido': ''
}

Actualiza el valor referenciado con la llave `'apellido'` usando tu apellido.

In [12]:
usuario["apellido"] = "Cantu"
print(usuario)

{'login': 'local_admin', 'nombre': 'Mario', 'apellido': 'Cantu'}

Crea una nueva llave para almacenar el correo electronico. Usa los valores almacenados con las llaves ***nombre*** y ***apellido*** para generarlo siguiendo el formato: `nombre.apellido@email.com`.

Nota: los correos electrónicos se escriben con minúsculas.

In [13]:
#to capitalize
a = nombre.capitalize()
a

'Ivan'

In [14]:
#to transform in lowercase
b = a.lower()
b

'ivan'

In [15]:
usuario["correo electrónico"] = usuario["nombre"].lower() + "." + usuario["apellido"].lower() + "@email.com"

print(usuario)

{'login': 'local_admin', 'nombre': 'Mario', 'apellido': 'Cantu', 'correo electrónico': 'mario.cantu@email.com'}

## Indices y cortes (slicing)

In [16]:
numeros = list(range(1,101))

Selecciona el elemento con el tercer elemento de la lista.

In [17]:
numeros[2]

3

Selecciona el último elemento de la lista

In [18]:
numeros[-1]

100

Crea un corte de la lista `'numeros'` con los primeros 10 elementos de la lista.

In [19]:
numeros[:10]

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

Crea un corte de la lista `'numeros'` con los números del 11 al 20.

In [20]:
numeros[10:20]

[11, 12, 13, 14, 15, 16, 17, 18, 19, 20]

Explora lo que sucede al utilizar dos operadores de corte siguiendo la sintaxis `numeros[x:y:z]`. 

Intenta obtener la siguiente lista utilizando un solo corte: 
```
[11, 21, 31]
```

In [36]:
numeros[10:31:10] # from the position 10 until the position 31, select each 10 positions.

[11, 21, 31]

## Funciones y estructuras de control

***Area:***  
Crea una función que calcule el área de un rectángulo a partir de su base y su altura.

In [ ]:
ar = b * h

***Función con listas:***  
Completa la siguiente función para que ordene la lista que recibe como parámetro y regrese la lista ordenada. Pon atención en el resultado de la ejecución de la celda.

***Comparación de cadenas:***  
Crea una función que compare dos cadenas y te diga si son iguales ignorando mayúsculas y minúsculas.

***Factoriales:***  
Crea una función que calcule el factorial del numero que recibe.

> El factorial de un entero positivo n, el factorial de n o n factorial se define en principio como el producto de todos los números enteros positivos desde 1 (es decir, los números naturales) hasta n.

***Lanzamiento de monedas:***  
Usando el paquete `random`, crea una fución que simule la acción de tirar una moneda. Debe de regresar de manera aleatoria los valores `'cara'` o `'cruz'`.

In [22]:
import random

***Más lanzamientos:***  
Crea otra función que simule tirar n número de monedas y que regrese una lista con los resultados d ecada lanzamiento.

***¿Quién ganó?***  
Ahora crea una función que acepte 3 argumentos.
1. Selección de `cara` o `cruz`
2. Número de lanzamientos a hacer
3. Lanzamientos exitosos requeridos para ganar.

Deberá de imprimir el resultado y la lista de lanzamientos.

## Listas por comprensión

***Cuadrados:***  
Crea una lista con el cuadrado de los números del 0 al 10

***Múltiplos impares de 17:***  
Crea una lista que incluya los números múltiplos de 17 entre el 0 y el 100 que sean impares

***Lista de nombres:***  
A partir de la siguiente cadena genera una lista con nombres con uso correco de mayusculas y minusculas

In [23]:
cadena = 'hugo paco luis'

***Par o Impar:***  
Una lista las palabras "par" e "impar" que coresponden a los números del 1 al 10

***Usando cadenas:***  
Una lista con los caracteres de la cadena `'hola mundo'`, las vocales deben de ir en minúsculas y las consonantes en mayúsculas